<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#"> <i class="fa fa-gavel"></i> E-Auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Recommendations for you</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
      </ul>
      <form class="form-inline">
            <a class="btn btn-primary" href="/users/logout"> <i class="fa fa-sign-out"></i> log out</a>
            <img src="<%= user.picture %>" alt="avatar image" width="40" height="40" class="rounded-circle"/>
      </form>
    </div>
  </nav>
  <br><br><br>




  <div class="row">
    <div class="col-sm-2" style="margin-left: 15px;">
      <div class="position-fixed">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action bg-light">
              <img src="<%= user.picture %>" alt="avatar image" width="35" height="35" class="rounded-circle"/>
            <strong>&nbsp&nbsp<%= user.name.familyName %> <%= user.name.givenName %></strong>
          </a>
          <a href="/newOffer" class="list-group-item list-group-item-action">
          <i class="fa fa-plus-square"></i><strong>&nbsp New offer</strong>
            <span class="badge badge-primary badge-pill"></span>
          </a>
          <a href="#" class="list-group-item list-group-item-action ">
             <i class="fa fa-hourglass-1"></i><strong>&nbsp Bids hisotry</strong>
          </a>
          <a href="#" class="list-group-item list-group-item-action ">
            <i class="fa fa-check"></i><strong>&nbsp Purchases</strong>
          </a>
          <a href="#" class="list-group-item list-group-item-action ">
            <i class="fa fa-hourglass-1"></i><strong>&nbsp Current offers</strong>
          </a>
          <a href="#" class="list-group-item list-group-item-action ">
            <i class="fa fa-check"></i>&nbsp <strong>sells</strong>
          </a>
          <a href="#" class="list-group-item list-group-item-action ">
            <i class="fa fa-bell"></i><strong>&nbsp Notifications</strong>
            <% if(user.biddingStates.outdone > 0){%>
            <span id="notificationSpan" class="badge badge-danger badge-pill"><%= user.biddingStates.outdone %></span>
            <%}%>
          </a>
        </div>
    </div>

    </div>

    <div class="col-sm-9" style="margin-left: 28px;">
      <%- include ('./partials/messages.ejs') %>
      <% if(user.biddingStates.outdone > 0){%>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Emergency! </strong> <%= user.biddingStates.outdone %> of your bids was outdone. Go bid to win the auctions !
        </div>
      <%}%>
      <div class="row">
        <%
        for(var i = 0;i<offers.length;i++){
        %>
          <div class="col-sm-3 col-md-6 col-lg-4">
              <div class="card mb-3">
                  <h4 class="card-header"><%= offers[i].name %></h4>
                  <a href="/offer?id=<%= offers[i]._id %>">
                    <img style="height: 200px; width: 100%; display: block;" src="images/<%= offers[i].informations.picture %>" alt="Card image">
                  </a>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h6 class="card-subtitle text-muted"> Current price: <%= offers[i].pricing.price %>$</h6></li> 
                      <li class="list-group-item"><h6 class="card-subtitle text-muted">rate: <%= offers[i].rating %>/100</h6>
                        <div class="progress" style="margin-top: 10px;">
                          <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= offers[i].rating %>%"></div>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
          <%}%>
      </div>

      

    </div>

  </div>
