<%- include ('./header.ejs') %>

  <div class="col-sm-9">
    <div style="margin-left:50px ;"><%- include ('./partials/messages.ejs') %>
      <h3 class="text-center" id="deadlineeeee"></h3><br>
      <script>
        var test = '<%= offerId.informations.deadline %>';
        var countDownDate = new Date(test).getTime();
        var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        console.log(test);
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        //document.getElementById("deadlineeeee").innerHTML = days;
        document.getElementById("deadlineeeee").innerHTML = "~~ this offer expires in "+days + "d " + hours + "h "+ minutes + "m " + seconds + "s ~~";
        if (distance < 0) {
           clearInterval(x);
           document.getElementById("deadlineeeee").innerHTML = "EXPIRED";
        }
        }, 1000);
      </script></div>
            <div class="card mb-8" style="margin-left: 50px;">
                <h3 class="card-header"><%= offerId.name %> <small class="text-muted"><%= offerId.informations.subname %></small></h3>
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/<%= offerId.informations.picture %>" style="margin-left:12px;height: 100%; width: 100%; object-fit: contain" alt="Card image">
                  </div>
                  <div class="col-md-6">
                  
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h6 class="card-subtitle text-muted">Description:</h6><br> <%= offerId.informations.description %></li>
                      <li class="list-group-item"><h6 class="card-subtitle text-muted"> Categories: <%= offerId.informations.categories %></h6></li>
                      <li class="list-group-item"><h6 class="card-subtitle text-muted"> Initial price: <%= offerId.pricing.initialPrice %>$</h6></li>
                      <li class="list-group-item"><h6 class="card-subtitle text-muted"> Current price: <%= offerId.pricing.price %>$</h6></li>
                      <li class="list-group-item"><h6 class="card-subtitle text-muted">total rate: <%= offerId.rating %>/100</h6>
                        <div class="progress" style="margin-top: 10px;">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= offerId.rating %>%"></div>
                        </div>
                      </li>
                      <li class="list-group-item"><h6 class="card-subtitle text-muted"> Make a bid</h6><br>
                      <form action="/bid" method="POST">
                        <div class="form-group">
                          <div class="form-group">
                            <div class="input-group mb-3">
                              <input type="number" id="theBid" name="theBid" oninput="myFunctionz()" class="form-control" aria-label="Amount (to the nearest dollar)">
                              <script>
                                function myFunctionz() {
                                  var currentPrice = '<%= offerId.pricing.price %>';
                                  var price = document.getElementById("theBid").value;
                                  if(parseFloat(price)>currentPrice){document.getElementById("goBid").disabled = false;}
                                  else {document.getElementById("goBid").disabled = true;}
                                }
                                </script>
                              <div class="input-group-append">
                                <span class="input-group-text">$</span>
                              </div>
                            </div>
                          </div><div class="row"><div class="col-md-4"></div><div class="col-md-4">
                            <input type="hidden" value="<%= offerId._id %>" name="offerid2" id="offerid2" />
                          <button type="submit" id="goBid" class="btn btn-primary btn-block" disabled>send the bid</button></div></div>
                      </form>
                      </li>
                      <li class="list-group-item">
                        <form action="/rate" method="POST">
                          <fieldset class="form-group">
                            <label for="customRange1"><h6 class="card-subtitle text-muted">Your rate for this offer</h6></label>
                            <%  if(rate){ %>
                            <input type="range" class="custom-range" value="<%= rate%>" name="customRange1" id="customRange1">
                            <%} else {%>
                              <input type="range" class="custom-range" name="customRange1" id="customRange1">
                              <%}%>
                          </fieldset>
                          <div class="row"><div class="col-md-4"></div><div class="col-md-4">
                            <input type="hidden" value="<%= offerId._id %>" name="offerid" id="offerid" />
                            <input type="hidden" value="<%= user._id %>" name="userid" id="userid" />
                            <button type="submit" class="btn btn-primary btn-block">send your rating</button>
                          </div></div>
                        </form>
                        
                      </li>
                  </ul>
                  </div>
                </div>
                
            </div>
        </div>
   
</div>

<br><br><br><br><br>